<div class="jumbotron">
  <h1 class="display-4 text-white font-weight-bold">Nous contacter</h1>
    <p class="lead text-white">Tips : ne nous contacte pas.</p>
</div>



<div class="row justify-content-center">
 <h4>E-mail : undefinedmethod@thehackingproject.com</h4>
 </div>