<div class="jumbotron">
  <h1 class="display-4 text-white font-weight-bold">La Team !</h1>
    <p class="lead text-white">coucou c'est nous</p>
</div>


<div class="row justify-content-center">
<div class="card text-center" style="width: 45rem;">
  <div class="card-header">
    <h3>Mathildou</h3>
  </div>
  <div class="card-body">
    <h5 class="card-title">Queen of 404</h5>
    <p class="card-text">Spécialisée dans la recherche d'erreurs en tout genre, elle est capable d'en générer 10 à la minute !</p>
    <a href="https://fr.linkedin.com/in/mathilde-prouchandy-35b692139" class="btn btn-secondary">LinkedIn</a>
  </div>
</div>
</div>

<br>

<div class="row justify-content-center">
<div class="card text-center" style="width: 45rem;">
  <div class="card-header">
    <h3>TimoTim</h3>
  </div>
  <div class="card-body">
    <h5 class="card-title">Debug King</h5>
    <p class="card-text">Etudiant en droit, Tim sera toujours là pour te rappeler que ce que tu viens de faire est illégal.. Un conseil : deviens son ami !</p>
    <a href="#" class="btn btn-secondary">LinkedIn</a>
  </div>
</div>
</div>



