// Place all the styles related to the Gossip controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .jumbotron {
//   background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.nouvelobs.com%2Feducation%2F20161114.OBS1182%2Fl-appli-gossip-va-cesser-son-activite-en-france.html&psig=AOvVaw3Q6vPe2kIle513N9d0DCvC&ust=1588839864075000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCNCtrfLnnukCFQAAAAAdAAAAABAD);
// }

.jumbotron {
  color: black;
  background-image: url("https://ekladata.com/-wn2AoQz8aytQdJdyr7sz6rk89I.jpg");
  background-size: cover;
 }
 